body {
    font-family: 'Calibri', Courier, monospace;
}

.project-header {
    display: flex;
    align-items: center;
    background-color: #AACBED;
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
}

.project-meta-container {
    display: inline-block;
    padding: 15px;
}

main {
    display: grid;
    grid-template-columns: 100px auto 100px;
    padding-block: 30px;
}

.create-task-dialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 600px;
    transform: translate(-50%, -50%);
    border: var(--border);
    background-color: white;
    box-shadow: var(--box-shadow);
}