@import url(styles/normalize.css);
@import url(styles/fonts.css);
@import url(styles/variables.css);
@import url(styles/main.css);
@import url(styles/table.css);
@import url(styles/task-params.css);
@import url(styles/team-panel.css);
@import url(styles/users-selector.css);