* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri';
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

header {
    background-color: #AACBED;
    border-bottom: 1px solid #B9B9B9;
}

.project-header {
    padding: 25px;
    box-shadow: 0px 2px 10px 0px #0000001A;
    text-align: center;
}

.register-form {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    padding: 20px;

}

.register-input {
    width: 200px;
    height: 30px;
}

.create-account-container {
    border: 1px solid #B9B9B9;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 0px #0000001A;
    
    header {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.create-account-header {
    padding: 12px;
    text-align: center;
}

.submit-button {
    padding: 8px;
}