* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

ul {
    list-style-type: none;
}

header {
    background-color: #AACBED;
    border-bottom: 1px solid #B9B9B9;
}

.project-header {
    padding: 25px;
    box-shadow: 0px 2px 10px 0px #0000001A;
}

.subject {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.project-create-dialog {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 20px;
    border: none;
}

.project-item {
    padding: 20px;
    border: 1px solid #B9B9B9;
}